<head>

	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/css/style.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/browser-icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/browser-icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/browser-icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/browser-icons/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- Open Graph -->
	<meta property="og:type" content="">
	<meta property="og:title" content="">
	<meta property="og:url" content="/">
	<meta property="og:image" content="/img/share/og-image.jpg">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
