<div class="navigation-container">
	<div class="container">
		<nav class="row justify-content-between align-items-center" role="navigation">

			<div class="col-md-3 col-8">
				<!-- Logo -->
				<a href="/" class="nbn-logo">
					<!-- Logo SVG here -->
					<img src="/img/logo.svg" alt="North Brooklyn Neighbors Logo" class="nbn-logo-img">

				</a>
			</div>

			<div class="col-9">
				<!-- Primary Nav -->
				<ul class="nav-list green">
					<li><a href="#events" class="">Events & Updates</a></li>
					<li><a href="#projects" class="">Projects</a></li>
					<li><a href="#about" class="">About</a></li>
					<li><a href="#contact" class="">Contact</a></li>
					<li><a href="https://secure.qgiv.com/for/norbronei/" target="_blank" class="">Donate</a></li>
					{{ partial "social-icon" (dict "link" "https://facebook.com/northbrooklynneighbors" "svg" "icons-facebook") }}
					&nbsp;{{ partial "social-icon" (dict "link" "https://twitter.com/nbklynneighbors" "svg" "icons-twitter") }}
					&nbsp;{{ partial "social-icon" (dict "link" "https://instagram.com/northbrooklynneighbors" "svg" "icons-instagram") }}
				</ul>
			</div>

		</nav>
	</div>
</div>
