{{ define "main" }}

<div class="container pt-xl-10 pt-lg-8 pt-6">
  <div class="row">
    <div class="col-12 pt-xl-10 pt-lg-8 pt-6">
      <h3>{{ .Title }}</h3>
      <p>{{ (.Params.date).Format "January 2, 2006" }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ .Content }}
    </div>
  </div>

</div>

{{ end }}
