<div class="anchorlink" id="contact"></div>
<footer class="">
	<div class="container-fluid bg blue py-6">
		<div class="container">
			<div class="row">
				<div class="col-md-2 mb-4">
					<h6>Contact us</h6>
					<p>
						North Brooklyn Neighbors<br/>
						110 Kent Avenue, 2nd fl.<br/>
						Brooklyn, NY 11249<br/>
						(718) 384-2248<br/>
						<a href="mailto:contact@northbrooklynneighbors.org" style="color: white; text-decoration:underline;">contact (at) northbrooklynneighbors.org</a>
					</p>
					<span class="white mr-2">{{ partial "social-icon" (dict "link" "https://facebook.com/northbrooklynneighbors/" "svg" "icons-facebook") }}</span>
					<span class="white mr-2">{{ partial "social-icon" (dict "link" "https://twitter.com/nbklynneighbors" "svg" "icons-twitter") }}</span>
					<span class="white">{{ partial "social-icon" (dict "link" "https://instagram.com/northbrooklynneighbors" "svg" "icons-instagram") }}</span>
				</div>
				<div class="col-md-4 offset-md-1 mb-4">
					<h6>Support us</h6>
					<p class="">Contributions help sustain our work, please consider a gift today!</p>
					<a href="https://secure.qgiv.com/for/norbronei/" target="_blank" class="button on-blue">Donate Now</a>
				</div>
				<div class="col-md-4 offset-md-1">
					<h6>Join Us</h6>
					<p class="">Our work is powered by neighbors coming together to improve their community. Please subscribe to our mailing list to learn how to get involved.</p>
					{{ partial "footer/signup" . }}
				</div>
			</div>
		</div>
	</div>

	{{ partial "svg" . }}

</footer>
<script src="/app.js"></script>
