<div id="mc_embed_signup">
  <form action="https://nag-brooklyn.us5.list-manage.com/subscribe/post?u=1b7b818c36958b40f1bbac9da&amp;id=7d67577bd7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL">
          Email Address<span class="asterisk">*</span>
        </label><br>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">
          First Name<span class="asterisk">*</span>
        </label><br>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" aria-required="true">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">
          Last Name<span class="asterisk">*</span>
        </label><br>
        <input type="text" value="" name="LNAME" class="required" id="mce-LNAME" aria-required="true">
      </div>
      <div class="indicates-required">
        <span class="asterisk">*</span>indicates required
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <p><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1b7b818c36958b40f1bbac9da_7d67577bd7" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button on-blue">
      </div>
    </div>
  </form>
</div>
