{{ define "main" }}
  <div class="container-fluid pt-xl-10 pt-lg-8 pt-6">
    <div class="row with-bg-image" style="background-image:url('{{.Params.image | relURL }}')">
      <div class="col-lg-8 offset-lg-2 mh-100 py-10 px-md-6 px-4">
        <h3 class="">{{.Params.introduction.headline}}</h3>
        <p class="lead">{{.Params.introduction.text}}</p>
        <a href="#about"><button class="btn black">{{.Params.introduction.buttontext}}</button></a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-last mh-100 py-10 px-md-6 px-4 bg green">
        <h3 class="">{{.Params.section1.headline}}</h3>
        <p class="lead">{{.Params.section1.text}}</p>
        <a href="{{.Params.section1.buttonlink}}" target="_blank"><button class="btn on-green">{{.Params.section1.buttontext}}</button></a>
      </div>
      <div class="with-bg-image col-12 col-lg-6 order-lg-first mh-100 py-10 px-6" style="background-image:url('{{.Params.section1.image | relURL }}')">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row with-bg-image" style="background-image:url('{{.Params.section2.image | relURL }}')">
      <div class="col-lg-6 offset-lg-3 mh-100 py-10 px-md-6 px-4 bg">
        <h3 class="">{{.Params.section2.headline}}</h3>
        <p class="lead">{{.Params.section2.text}}</p>
        <a href="{{.Params.section2.buttonlink}}" target="_blank"><button class="btn black">{{.Params.section2.buttontext}}</button></a>
      </div>
    </div>
  </div>

  <div class="anchorlink" id="events"></div>
  <div class="container mb-8">
    <h4 class="col-12 text-center blue pt-6 pb-4">Events & Updates</h4>
    <div class="row ">
      {{ range first 3 ((where .Pages "Section" "events").ByParam "eventdate").Reverse }}
            <div class="col-lg-4 mh-100">
              <a href="{{ .Permalink }}">
                {{if .Params.image }}
                  <div class="image-container">
                    <img class="img-fluid" src="{{.Params.image | relURL }}" />
                  </div>
                {{ else }}
                  <div class="image-container">

                  </div>
                {{ end }}
              </a>
              <h5 class="mt-2">{{ .Params.title}}</h5>
              <p class="pb-2">{{ .Params.description }}</p>
              {{if .Params.rsvpLink }}
                <a href="{{ .Permalink }}">Read More &rsaquo;</a><br/>
                <a href="{{ .Params.rsvpLink }}">RSVP &rsaquo;</a>
              {{ else }}
                  <a href="{{ .Permalink }}">Read More &rsaquo;</a>
              {{ end }}
            </div>
      {{ end }}
    </div>
  </div>

  <div class="anchorlink" id="projects"></div>
  <div class="container mb-10">
    <div class="row">
      <h4 class="col-12 text-center blue pt-6 pb-4">Current Projects</h4>

      {{ range first 3 ((where .Pages "Section" "projects").ByParam "projectDate").Reverse }}
            <div class="col-lg-4 mh-100">
              <a href="{{ .Params.projectLink}}" target="_blank">
                {{if .Params.image }}
                  <div class="image-container">
                    <img class="img-fluid" src="{{.Params.image | relURL }}" />
                  </div>
                {{ end }}
              </a>
              <h5 class="mt-2">{{ .Params.title}}</h5>
              <p class="pb-2">{{ .Params.description }}</p>
              {{if .Params.projectLink }}
                <a href="{{ .Params.projectLink }}">Read More &rsaquo;</a>
              {{ else }}
                  <a href="{{ .Permalink }}">Read More &rsaquo;</a>
              {{ end }}
            </div>
      {{ end }}

    </div>

    {{ if .Params.pastProjectsLink }}
    <div class="col-12 text-center mt-6">
        <a href="{{ .Params.pastProjectsLink }}" target="_blank"><button class="btn black">See All Past Projects</button></a>
    </div>
    {{ end }}


  </div>
  <div class="anchorlink" id="about"></div>
  <div class="container">

      <h4 class="col-12 text-center blue pt-6 pb-4">About</h4>
      <div class="row">
       <div class="col-12"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
            <h5 class="">{{ .Params.whoweare.title1}}</h5>
            <p>{{.Params.whoweare.textcol1 }}</p>
        </div>
        <div class="col-md-6 mb-4">
            <h5 class="">{{ .Params.whoweare.title2}}</h5>
            <p>{{.Params.whoweare.textcol2 }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 full">
        <img class="img-fluid" src="{{.Params.whoweare.image | relURL }}" />
      </div>
      <div class="col-sm-6 offset-sm-1">
        <p class="caption">
          {{ .Params.whoweare.caption}}
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row py-6">
      <div class="col-md-5 mb-6">
          <h5 class="blue">Staff</h5>
          <ul class="staff-list">
            {{ range .Params.staffmembers }}
            <li class="mb-2"><span>{{.name }}</span> <br/><em>{{.title}}</em></li>
            {{ end }}
          </ul>
      </div>
      <div class="col-md-5">
          <h5 class="blue">Board</h5>
          <ul class="board-officers-list">
            {{ range .Params.boardofficers }}
              <li class="mb-2">{{.name }} <br/><em>{{.title}}</em></li>
            {{ end }}
          </ul>
          <ul class="board-members-list">
            {{ range .Params.boardmembers }}
              <li>{{.name }}</li>
            {{ end }}
          </ul>
      </div>
    </div>
  </div>



{{ end }}
