/**
 * @license
 * MyFonts Webfont Build ID 3644217, 2018-09-19T14:42:51-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: FuturaBT-Book by Bitstream
 * URL: https://www.myfonts.com/fonts/bitstream/futura/pro-book-193053/
 *
 * Webfont: FuturaBT-ExtraBlack by Bitstream
 * URL: https://www.myfonts.com/fonts/bitstream/futura/pro-extra-black-193053/
 *
 * Webfont: FuturaBT-Medium by Bitstream
 * URL: https://www.myfonts.com/fonts/bitstream/futura/pro-medium-193053/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3644217
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright &#x00A9; 2017 Monotype Imaging Inc. All rights reserved.
 *
 * © 2018 MyFonts Inc
*/


@font-face {font-family: 'FuturaBT-Book';src: url('../fonts/379B39_0_0.eot');src: url('../fonts/379B39_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/379B39_0_0.woff2') format('woff2'),url('../fonts/379B39_0_0.woff') format('woff'),url('../fonts/379B39_0_0.ttf') format('truetype');}


@font-face {font-family: 'FuturaBT-ExtraBlack';src: url('../fonts/379B39_1_0.eot');src: url('../fonts/379B39_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/379B39_1_0.woff2') format('woff2'),url('../fonts/379B39_1_0.woff') format('woff'),url('../fonts/379B39_1_0.ttf') format('truetype');}


@font-face {font-family: 'FuturaBT-Medium';src: url('../fonts/379B39_2_0.eot');src: url('../fonts/379B39_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/379B39_2_0.woff2') format('woff2'),url('../fonts/379B39_2_0.woff') format('woff'),url('../fonts/379B39_2_0.ttf') format('truetype');}


@font-face {font-family: 'FuturaBT-Heavy';src: url('../fonts/379EAD_0_0.eot');src: url('../fonts/379EAD_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/379EAD_0_0.woff2') format('woff2'),url('../fonts/379EAD_0_0.woff') format('woff'),url('../fonts/379EAD_0_0.ttf') format('truetype');}
