// PnP Sass

// ----------------------------
// Imports
// ----------------------------

@import 'custom-breakpoints';                   // Override the default breakpoints
@import '~bootstrap/scss/bootstrap-grid';       // Importing the bootstrap-grid from node_modules (installed via npm/yarn)
@import 'fonts';                                // Importing custom fonts with @font-face
@import 'spacing-utils';                        // Custom responsive spacing utilities based off of Bootstrap v4.1.3


// ----------------------------
// Colors
// ----------------------------

$nbn-light-green: #A6C440;
$nbn-light-blue:  #CCE5F5;
$nbn-dark-green:  #2A6A5B;
$nbn-blue:        #53A7DD;
$black:           #000000;
$white:           #FFFFFF;

// ----------------------------
// Fonts and Typography
// ----------------------------

$primary-font:    'FuturaBT-Book', sans-serif;
$bold-font:     'FuturaBT-Heavy', sans-serif;
$secondary-font:  'FuturaBT-Medium', sans-serif;
$headline-font:   'FuturaBT-ExtraBlack', sans-serif;

html {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  @media (min-width: 1600px) {
    font-size: 20px;
  }
  @media only screen and (max-width: 1140px) and (min-width: 992px) {
    font-size: 18px;
  }
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  margin:0; // Removing margins and padding from headers.
  padding:0;
  line-height: 1.1;
  letter-spacing: .0325rem;
  font-family: $bold-font;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: $headline-font;
}

h2 {
  font-size: 5rem;
    text-transform: uppercase;
      font-family: $headline-font;
}

h3 {
  font-size: 4rem;
    text-transform: uppercase;
    font-family: $headline-font;
    @media only screen and (max-width: 576px) {
      font-size: 2.5rem;
    }
}

h4 {
  font-size: 2.5rem;
  letter-spacing: .125rem;
}

h5 {
  font-size: 1.5rem;

}

h6 {
  font-size: 1rem;
  font-family: $secondary-font;
}

p {
  padding-bottom: 1rem;
  margin:0;
}

.caption {
  font-size: .625rem;
  color: #c3c3c3;
}

a {
  img:hover {
  }
}

li {
  a {
    &:hover {
      border-bottom: solid 1px;
    }
  }
}

a {
  color: $nbn-light-green;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
}

.lead {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.blue {
  color: $nbn-blue;
}

.white {
  svg {
    fill: $white;
  }
}

.green {
  svg {
    fill: $nbn-light-green;
  }
}

.image-container {
  object-fit: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.full {
  padding-left: 0;
  padding-right: 0;
  img {
    max-width: 100%;
    height: auto;
    min-width: 100%;
  }
}

// ----------------------------
// Navigation
// ----------------------------

nav {
  padding: 1rem 0;
}

.navigation-container {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nbn-logo {
  height: 3rem;
width: auto;
max-height: 3rem;
}

.nav-list {
  text-align: right;
  li {
    display: inline-block;
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: $secondary-font;
    letter-spacing: .0125rem;
  }
  @media only screen and (max-width: 768px) {
    display: none;
  }
}


// ----------------------------
// Elements
// ----------------------------

.with-bg-image {
  background-size: cover;
  background-position: center;
}

.bg {
  color: $white;
  &.green {
    background-color: $nbn-light-green;
  }
  &.blue {
    background-color: $nbn-blue;
  }
}

.staff-list, .board-members-list, .board-officers-list, .nav-list {
  list-style: none;
  margin: 0;
  padding:0;
}

footer {
  bottom: 0;
}

form {
  .indicates-required {
    font-size: .625rem;
    padding-top: .5rem;
  }
  .mc-field-group {
    padding-bottom: .625rem;
    input[type="email"], input[type="text"] {
      font-family: $primary-font;
      border: none;
      padding: 0.75rem;
      width: 100%;
      font-size: 1rem;
      &:focus {
        outline: none;
      }
    }
  }
}
#mc_embed_signup {

}

// ----------------------------
// Buttons
// ----------------------------

button, .button {
  border-color: transparent;
  border-style: none;
  border-width: 0;
  padding: $spacer;
  color: inherit;
  background-color: inherit;
  font-size: 1rem;
  font-family: $bold-font;
  cursor: pointer;
  &.black {
    background-color: $black;
    color: $white;
    letter-spacing: .025rem;
    &:hover{
      background-color: $nbn-light-green;
    }
  }
  &.on-green {
    background-color: $white;
    color: $nbn-light-green;
    letter-spacing: .025rem;
    &:hover{
      background-color: $nbn-dark-green;
    }
  }
  &.on-blue {
    background-color: $white;
    color: $nbn-blue;
    letter-spacing: .025rem;
    &:hover{
      background-color: $nbn-light-blue;
    }
  }
}

.anchorlink {
    position:absolute;
    z-index:-1;
    left:0;
    margin-top:-150px;
}
// ----------------------------
// Layout
// ----------------------------


body {
  margin: 0;
  padding: 0;
}
